#ifndef __{{map_name}}_REGISTER_MAP__
#define __{{map_name}}_MAP_REGISTER_MAP__

enum {{map_name}}_ADDR_MAP_REGS {
   {% for register in registers %}
  {{register.name}} = {{register.offset}},
{%-endfor%}

};

{% for register in registers %}
/* {{register.name}} registers */
{% for field in register.fields -%}
#define {{field.name.replace(' ','_')}}  GENMASK({{field.low}},{{field.high}})
{%endfor%}
{%endfor%}

#endif