[cols="20%,72%a"]
|===
| Register name | Fields

{% for register in registers %}

| {{register.name}}
|

[cols="50%,25%,25%"]
!===
! Field name ! Rights ! Size(bytes)

    {% for field in register.fields %}

! {{field.name}}
! {{field.rights}}
! {{field.width}}

    {%endfor%}

!===

{%endfor%}


|===